body {
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px; }

.hidden-heading {
  text-indent: -9999px;
  line-height: 0; }

.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  -moz-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px transparent;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-property: transform;
  -ms-transition-property: transform;
  -o-transition-property: transform;
  -moz-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  -ms-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  transition-duration: 0.3s; }

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  -moz-transform: scale(1.1);
  transform: scale(1.1); }

.container {
  width: 100%; }

.banner {
  height: 800px;
  position: relative; }
  .banner .wrapp-info {
    position: relative;
    text-align: center;
    padding: 414px 12px 282px;
    color: #fff;
    line-height: 34px;
    font-size: 30px;
    text-transform: uppercase; }
    .banner .wrapp-info strong {
      font-weight: 700; }
  .banner__zip-form {
    position: absolute;
    bottom: -116px;
    z-index: 2;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    -moz-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0); }

.heading {
  font-size: 40px;
  font-weight: 600;
  line-height: 44px;
  color: #fff; }

.heading-black {
  color: #000;
  font-size: 28px;
  font-weight: 600;
  line-height: 32px; }

.slider {
  height: 100%;
  overflow: hidden;
  position: relative;
  z-index: 1; }
  .slider .slick-track {
    display: block;
    height: 100%;
    left: 0;
    position: relative;
    top: 0; }
  .slider .slick-list {
    display: block;
    height: 100%;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: relative; }

label.error {
  display: inline-block; }

input,
textarea {
  border: 1px solid #d8d8d8;
  box-sizing: border-box;
  padding: 6px 14px 8px;
  width: 100%; }
  input.error,
  textarea.error {
    border-color: #ff0000; }
    input.error + label.error,
    textarea.error + label.error {
      color: #ff0000; }
  input::-webkit-input-placeholder,
  textarea::-webkit-input-placeholder {
    color: #b4adad;
    font-size: 14px; }
  input::-moz-placeholder,
  textarea::-moz-placeholder {
    color: #b4adad;
    font-size: 14px; }
  input:-moz-placeholder,
  textarea:-moz-placeholder {
    color: #b4adad;
    font-size: 14px; }
  input:-ms-input-placeholder,
  textarea:-ms-input-placeholder {
    color: #b4adad;
    font-size: 14px; }

textarea:focus {
  outline: none; }

.map-holder {
  height: 100%; }

.map-block {
  position: relative;
  height: 635px; }
  .map-block__contact-form {
    position: absolute;
    -webkit-transform: translate(-50%, 0);
    -moz-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    top: 160px;
    left: 50%; }

.zip-form {
  width: 90%;
  box-sizing: border-box;
  background: #fff;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -o-border-radius: 2px;
  -ms-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.28);
  -moz-box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.28);
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.28);
  text-align: center;
  font-size: 16px;
  line-height: 20px;
  color: #938e8e; }
  .zip-form:after {
    position: absolute;
    content: '';
    background: url(../images/img-thumbnails.jpg) no-repeat;
    width: 100%;
    height: 87px;
    left: 0;
    top: 28%; }
  .zip-form .input-holder {
    position: relative;
    padding: 28px 32px; }
    .zip-form .input-holder input {
      display: inline-block;
      -webkit-border-radius: 2px;
      -moz-border-radius: 2px;
      -o-border-radius: 2px;
      -ms-border-radius: 2px;
      border-radius: 2px; }
      .zip-form .input-holder input::-webkit-input-placeholder {
        font-size: 16px; }
      .zip-form .input-holder input::-moz-placeholder {
        font-size: 16px; }
      .zip-form .input-holder input:-moz-placeholder {
        font-size: 16px; }
      .zip-form .input-holder input:-ms-input-placeholder {
        font-size: 16px; }
    .zip-form .input-holder label.error {
      padding: 5px 0; }
  .zip-form p {
    margin: 108px 0 24px; }

.contact-form {
  background: rgba(255, 255, 255, 0.85);
  box-sizing: border-box;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.73);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.73);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.73);
  width: 90%;
  height: auto;
  padding: 50px 20px 23px; }
  .contact-form textarea {
    resize: none;
    min-height: 80px;
    overflow-x: hidden;
    overflow-y: auto; }
  .contact-form .input-holder {
    position: relative;
    margin-bottom: 35px; }
    .contact-form .input-holder.big-space {
      margin-bottom: 32px; }
    .contact-form .input-holder label.error {
      display: block;
      position: absolute;
      top: 100%;
      left: 0;
      min-width: 200px;
      padding: 5px;
      background: rgba(255, 255, 255, 0.85); }
  .contact-form__submit-round-btn {
    display: block;
    margin: 0 auto; }

.btn {
  text-transform: uppercase;
  line-height: 30px;
  padding: 8px 36px;
  background: #227dd3;
  border: none;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -o-border-radius: 2px;
  -ms-border-radius: 2px;
  border-radius: 2px;
  font-size: 26px; }
  .btn:before {
    background: #666;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -o-border-radius: 2px;
    -ms-border-radius: 2px;
    border-radius: 2px;
    border: 1px solid #4c505d; }

.btn-border,
.btn {
  color: #fff;
  font-weight: 600; }

.btn-border,
.btn,
.submit-round-btn {
  margin-bottom: 30px; }
  .btn-border:focus,
  .btn:focus,
  .submit-round-btn:focus {
    outline: none; }

.btn-border {
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -o-border-radius: 7px;
  -ms-border-radius: 7px;
  border-radius: 7px;
  border: 3px solid #fff;
  padding: 0 32px;
  font-size: 28px;
  background: none;
  display: block;
  line-height: 50px; }
  .btn-border:before {
    background: #308355;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -o-border-radius: 7px;
    -ms-border-radius: 7px;
    border-radius: 7px; }

.submit-round-btn {
  background-image: url("../images/bg-sprite.png");
  border: none;
  text-indent: -9999px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: -42px -449px;
  width: 66px;
  height: 67px;
  cursor: pointer; }
  .submit-round-btn:hover, .submit-round-btn:active, .submit-round-btn:focus {
    background-position: -115px -448px;
    border: 1px solid #308355;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%; }

.artice-item {
  position: relative; }
  .artice-item:after {
    content: '';
    position: absolute;
    background-image: url("../images/bg-sprite.png");
    background-repeat: no-repeat;
    left: 0;
    top: 0;
    display: none; }
  .artice-item .heading-black {
    margin: 6px 0 4px; }
  .artice-item p {
    line-height: 22px; }

.documents:after {
  background-position: -42px -5px;
  width: 95px;
  height: 121px; }

.photos:after {
  background-position: -147px -5px;
  width: 102px;
  height: 127px; }

.wrapper {
  position: relative;
  overflow: hidden; }

.carousel-block {
  position: relative;
  background: #fff;
  color: #4f4e4e; }
  .carousel-block__artice-item {
    width: 100%;
    margin-bottom: 25px; }
  .carousel-block__wrapper {
    padding: 130px 12px 50px;
    text-align: center; }
  .carousel-block__slider {
    margin-bottom: 0;
    height: 368px; }
    .carousel-block__slider .slick-dots {
      opacity: 0;
      bottom: 0; }
      .carousel-block__slider .slick-dots li {
        margin: 0 16px; }
        .carousel-block__slider .slick-dots li button {
          width: 16px;
          height: 16px;
          background: #d8d8d8;
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          -o-border-radius: 50%;
          -ms-border-radius: 50%;
          border-radius: 50%; }
          .carousel-block__slider .slick-dots li button:before {
            display: none; }
          .carousel-block__slider .slick-dots li button:hover {
            background: #5fc18b; }
      .carousel-block__slider .slick-dots .slick-active button {
        background: #5fc18b; }

.img-tablet,
.img-laptop {
  position: relative; }
  .img-tablet:after,
  .img-laptop:after {
    top: 0;
    left: 0;
    position: absolute;
    content: '';
    z-index: -1;
    display: none; }

.img-tablet:after {
  background: url("../images/bg-sprite.png") no-repeat -30px -189px;
  width: 155px;
  height: 156px; }

.img-laptop:after {
  background: url("../images/bg-sprite.png") no-repeat -198px -287px;
  width: 274px;
  height: 230px; }

.info-article {
  color: #fff;
  background: #5fc18b;
  min-height: 480px;
  box-sizing: border-box;
  position: relative; }
  .info-article h3 {
    margin-bottom: 30px; }
  .info-article p {
    margin-bottom: 50px;
    line-height: 24px; }
  .info-article .content-holder {
    z-index: 1; }
  .info-article .triangle-decoration {
    position: absolute;
    top: 100%;
    left: 0; }
  .info-article--side-img {
    padding-top: 0;
    background: #44a36f;
    min-height: 440px; }
    .info-article--side-img .content-holder {
      padding: 34px 12px 0;
      z-index: 1; }

.info-section {
  z-index: 1; }
  .info-section__img-tablet:after {
    left: 50%;
    -webkit-transform: translate3d(-50%, 0, 0);
    -o-transform: translate3d(-50%, 0, 0);
    -moz-transform: translate3d(-50%, 0, 0);
    -ms-transform: translate3d(-50%, 0, 0);
    transform: translate3d(-50%, 0, 0); }
  .info-section__img-tablet h3 {
    text-align: center; }
  .info-section__img-laptop:after {
    top: 34px; }
  .info-section__info-article {
    padding: 85px 12px 0;
    margin-bottom: 75px;
    z-index: 2; }
    .info-section__info-article--side-img {
      padding: 0 0 106px;
      z-index: 2; }

.triangle-decoration {
  overflow: hidden;
  text-indent: -9999px;
  width: 100%;
  background: #308355;
  position: relative;
  height: 75px; }
  .triangle-decoration:after, .triangle-decoration:before {
    content: '';
    position: absolute; }
  .triangle-decoration:after {
    top: 0;
    left: 0;
    width: 100%;
    background: linear-gradient(to right bottom, #5fc18b 50%, transparent 50%);
    height: 100%; }
  .triangle-decoration:before {
    bottom: 0;
    right: 0;
    width: 100%;
    background: linear-gradient(to top left, #44a36f 50%, transparent 50%);
    height: 95%; }

.main,
.footer {
  position: relative; }

.logo {
  width: 273px;
  background: url("../images/bg-sprite.png") no-repeat -269px -5px;
  height: 273px;
  position: relative; }
  .logo a {
    display: block;
    height: 100%;
    text-indent: -9999px;
    width: 100%; }

.header {
  overflow: hidden;
  padding: 68px 0 72px;
  position: absolute;
  text-align: center;
  width: 100%;
  z-index: 2; }
  .header__logo {
    margin: 0  auto; }

.footer {
  background: #43a06d;
  color: #fff;
  overflow: hidden;
  padding: 18px 0 11px;
  text-align: center; }
