$bgImg: url('../images/bg-sprite.png');
$green1: #43a06d;
$green2: #5fc18b;
$darkGreen: #44a36f;
$superDarkGreen: #308355;
$white: #fff;
$black: #000;
$blue: #227dd3;
$gray1: #d8d8d8;
$gray2:#938e8e;
$gray3: #e1e1e1;
$gray4: #666;
$gray5: #4f4e4e;
$lightGray: #b4adad;
$darkGray: #4c505d;
$borderRadius1: 2px;
$borderRadius2: 7px;
$borderRadius3: 50%;
$red: #ff0000;