$bgImg: url('../images/bg-sprite.png');
$green1: #43a06d;
$green2: #5fc18b;
$darkGreen: #44a36f;
$white: #fff;
$black: #000;
$blue: #227dd3;
$gray1: #d8d8d8;
$gray2:#938e8e;
$gray3: #e1e1e1;
$gray4: #666;
$lightGray: #b4adad;
$darkgray: #4c505d;
$borderRadius: 2px;